* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: lavender;
    font-family: "Comic Sans MS";
}

.container {
    padding-top: 0.5cm;

}

.cards-item {
    border: 2px solid black;
    background-color: white;
    width: 850px;
    text-align: center;
    font-size: 10px;
}

.button1 {
    float: right;
    margin: -0.48cm 5cm 0 0;
    font-family: Arial;

}

.button2{
    float: left;
    margin: 1.5cm 0 0 0.5cm ;


}

.button3{
    float: left;
    margin: 1.5cm 0 0 1cm ;

}

.tableHead{
    margin: 1.2cm 0 0 1.8cm;
    font-size: xx-small;
    float: left;
}


.boxSite{
    float: right;
    margin: 0 20cm 0 0;
}


.container {
    padding-top: 0.5cm;
}

.buttonCreate {
    border: 1.5px outset black;
    color: black; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: gray; /* фон кнопки */
    margin: 0.5cm 20cm 0 0;
    float:right;
    width: 173px;
}

.buttonCreate:hover {
    background: rgb(232, 95, 76); /* при наведении курсора мышки */
}


.buttonCreate:active {
    background: rgb(152, 15, 0); /* при нажатии */
}
